.new-note {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}

.new-note input {
	margin-bottom: 20px;
	width: 500px;
}

.new-note textarea {
	width: 500px;
	height: 500px;
}

.save-note {
	color: #FFF;
	background-color: #FF8523;
	margin: 10px 15px;
	padding: 10px;
	font-weight: 700;
	width: 300px;
}

.new-note-container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.new-note-container h2 {
	padding: 10px 20px;
	color: green;
	box-shadow: -5px -5px 10px #FF8523, 5px 5px 10px #FF8523;
	border-radius: 10%;
	text-align: center;
	width: 400px;
}