.download-container {
	margin: 15px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.download-header {
	color: green;
	font-weight: bold;
	box-shadow: -3px -3px 10px #FF8523, 3px 3px 10px #FF8523;
	padding: 10px;
}

.download {
	color: #FFF;
	background-color: #FF8523;
	margin: 30px 15px;
	padding: 10px;
	font-weight: 700;
}